<nav class="flex justify-between items-center mb-4">
    <a href="/"
        ><img class="w-24" src="{{}}" alt="" class="logo"
    /></a>
    <ul class="flex space-x-6 mr-6 text-lg">
        @

        <li>
            <span>
            </span>
        </li>
        <li>
            <a href="/login" class="hover:text-red-800"
                ><i class="fa-solid fa-gear"></i>
                Manage Listings</a
            >
        </li>

        <form action="/logout" method="POST" class="inline">
        
            <button type="submit">
                <i class="fa-solid fa-door-closed" ></i> Logout

            </button>
        </form>





        <li>
            <a href="" class="hover:text-oplueas"
                ><i class="fa-solid fa-user-plus"></i> Register</a
            >
        </li>
        <li>
            <a href="/login" class="hover:text-red-800"
                ><i class="fa-solid fa-arrow-right-to-bracket"></i>
                Login</a
            >
        </li>

    </ul>
</nav>