
{% extends 'core/base.html' %}

{% block title %}  | Login {% endblock %}


{% block content %}

    <div class="px-6 py-6">

    <div class="w-1/2 my-6 mx-auto p-6 bg-black rounded-xl">

        <h1 class="mb-6 text-3xl text-white">Sign Up</h1>
        <form action="" method="post">
            {% csrf_token %}


            <div class="mb-3">
                <label for="" class="inline-block text-white mb-2">UserName</label> <br>
                {{ form.username  }}
            </div>

            <div class="mb-3">
                <label for="" class="inline-block text-white mb-2">Email</label> <br>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <label for="" class="inline-block text-white mb-2">Password</label> <br>
                {{ form.password1  }}
            </div>

            <div class="mb-3">
                <label for="" class="inline-block text-white mb-2">Confirm Password</label> <br>
                {{ form.password2 }}
            </div>

            {% if form.errors or form.non_field_errors %}

                <div class="mb-3 p-6 bg-red-100 rounded">
                    {% for field in form %}

                        {{field.errors}}


                    {% endfor %}
                </div>


            {% endif %}
           
            <button class="py-4 px-8 my-6 mx-6 mb-3 bg-oplueas text-xl rounded-xl font-semibold hover:bg-oplueas hover:text-white">Submit</button>
            <div class="mt-4">
                <p class="mb-8 p-6 bg-white rounded">
                Already Have An Account?  <a href="{% url 'core:login' %}" class="py-4 px-8 my-6 mx-20 mb-3 bg-oplueas text-white items-center rounded-xl font-semibold hover:bg-black hover:text-white">Login</a>

                </p>


            </div>
        </form>
        


    </div>
</div>
{% endblock %}