{% extends 'core/base.html' %}

{% block title %} | Your Items {% endblock %}

{% block content %}

<div class="mt-1 my-6 px-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-xl text-center">Newest Item </h2>
    <div class="grid grid-cols-4 gap-3 px-20">
        {% for item in items %}

            <div>
                <a href="{% url 'item:detail' item.id %}">
                <div>
                    <img src="{{item.image.url}}" alt="">
                </div>
                <div class="bg-white text-gray-700">
                    <p class="text-xl text-center">{{item.name}}</p>
                    <p class="text-center"><strong>Price:</strong>{{item.price}}</p>
                </div>
                </a>
            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}